@charset "UTF-8";

body {
  width: 1124px;
  height:　1124px;
  margin: 40px auto 40px;/*外側余白　上20　左右自動調整　下40*/
  background: linear-gradient(-225deg, #2c93d8 0%, #a7a3e4 56%, #e8a1aa 100%);
  
}

.menu {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.menu-item {
    margin: 0 30px;
}
thead{
  background-color: #ffffff;
}

h1{
  padding:10px 0px 0px 0px ;
  font-size: 250%;
  font-family: "Comic Sans MS";
  color: rgb(255, 255, 255);
  height: 50px;
  font-weight:bold;
}
fieldset{
  background-color: #fafed4;
}
dt{
  float: left;
}