@charset "UTF-8";


body {
  width: 1124px;
  margin: 40px auto 40px;
 
  }

  #wrap{
    padding: 20px 0px 40px;/
  }


.frame_h1{
  background-color: #faf6c2;
}

h1{
    padding:10px 0px 0px 0px ;
    font-size: 200%;
    text-align: center;
    font-family: "Comic Sans MS";
    color: rgb(9, 12, 169);
    height: 50px;
    font-weight:bold;
}


/*フレームリード1*/
.frame_lead{
  font-weight:bold;
  font-size: 150%;
  margin-top: 20px; 
  padding: 0px,10px,10px,0px;
  background-color: #fff0fb;
  height: 130px;  
}

.frame_lead p{
  margin-left: 20px;
  padding-top: 10px;
}



/*汎用文字強調1*/
.big{
    font-size:120%;
    font-weight:normal;
}
/*汎用文字強調2*/

.big2{
  font-size:130%;
  font-weight:bold;
}


/*ヘッダー*/
  #header {
    object-fit: cover;
    height: 200px;
    width: 100%;
    background-image:url(cherry-blossom_00041.jpg);
    background-repeat:no-repeat;
  }
  
  .menu {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.menu-item {
    margin: 0 25px;
}
