<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TODO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AllSearchServlet</display-name>
    <servlet-name>AllSearchServlet</servlet-name>
    <servlet-class>todo.web.AllSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ZaikoDetailServlet</display-name>
    <servlet-name>ZaikoDetailServlet</servlet-name>
    <servlet-class>todo.web.ZaikoDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ZaikoRegisterServlet</display-name>
    <servlet-name>ZaikoRegisterServlet</servlet-name>
    <servlet-class>todo.web.ZaikoRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>todo.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteAllServlet</display-name>
    <servlet-name>DeleteAllServlet</servlet-name>
    <servlet-class>todo.web.DeleteAllServlet</servlet-class>
  </servlet>
</web-app>