<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>todo.web.SearchServlet</servlet-class>
  </servlet>
  <display-name>port1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>todo.web.DetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>todo.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteAllServlet</display-name>
    <servlet-name>DeleteAllServlet</servlet-name>
    <servlet-class>todo.web.DeleteAllServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShohinselectServlet</display-name>
    <servlet-name>ShohinselectServlet</servlet-name>
    <servlet-class>todo.web.ShohinselectServlet</servlet-class>
  </servlet>
</web-app>